tsconfig.json
src
docs
docs-gitbook
.vscode
.github

node_modules
.DS_Store
*.log
TODOs.md
.vscode
docs/.vuepress/dist
examples
yarn*

.eslint*
tslint*
tsconfig.json
.babelrc
.editorconfig
rollup.config.js
